<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>chores</title>
</head>

<template name="index">
	<nav class="navbar navbar-default" role="navigation">
		{{> yield region="navbar"}}
	</nav>
	{{> modal}}
	<div class="container-fluid">

		{{> alert}}
		{{#if currentUser}}
		{{> yield}}
		{{else}}
		{{> welcome}}
		{{/if}}
		<footer>
			{{> yield region="footer"}}
		</footer>
	</div>
</template>
