/* CSS declarations go here */


.text-right{
		text-align:right;
}
.text-center{
		text-align:center;
}
.float-right{
		float:right;
}

#mainAlert{
		position:fixed;
		display:block;
		top:20px;
		width:90%;
		margin-left:5%;
		margin-right:5%;
		z-index:9999;
}

footer{
		text-align:center;
}

/**/

/*loginButtons fixes*/
#login-dropdown-list .dropdown-toggle{
		line-height:3.5;
}
#login-dropdown-list .dropdown-menu{
		text-align:right;
		width: auto;
		min-width:300px;
}

.accordian-button{
		margin-top:-5px;
}