<template name="house">
	<h2>{{houseName}} <a href="{{pathFor 'chores'}}">Chores</a></h2>
	{{#if isOwner}}<a href="{{pathFor 'house'}}/{{houseId}}">Manage house</a>{{/if}}
	<div class="row">
		<div class="col-sm-4">
			{{> housemates}}
		</div>
		<div class="col-sm-4">
			{{> recentChores}}
		</div>
		<div class="col-sm-4">
			{{> leastRecentChores}}
		</div>
	</div>

</template>
