<template name="manageHouse">

	<div class="row">
		<div class="col-sm-6">
			{{> rooms}}
		</div>
		<div class="col-sm-6">
			<div class="well">
				{{> newRoomForm}}
			</div>
		</div>
	</div>
	<hr>
	<div class="text-center">
	<button class="btn btn-warning" id="chore-reset">Reset Chore Completion</button>
	</div>

</template>

