<template name="myNavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="{{pathFor route='welcome'}}">Chores, everywhere!</a>

    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
				<li class="text-right {{activeNav '/house'}}"><a href="{{pathFor route='house'}}">House</a></li>
				<li class="text-right {{activeNav '/chore'}}"><a href="{{pathFor route='chores'}}">Chores</a></li>
				<li class="text-right {{activeNav '/profile'}}"><a href="{{pathFor route='profile'}}">Profile</a></li>
				{{/if}}
				<li class="text-right login-li">{{>loginButtons}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</template>
