<template name="housemates">
	<h3>Housemates:</h3>
	{{#each housemate}}
	<p><a href="/profile{{#unless self}}/{{id}}{{/unless}}">{{name}}</a></p>
	{{/each}}
</template>

<template name="recentChores">
	<h3>Recently Complete</h3>
	<ol>
		{{#each chores}}
		{{> choreListing}}
		{{/each}}
	</ol>
</template>

<template name="leastRecentChores">
	<h3>Least Recently Complete</h3>
	<ol>
		{{#each chores}}
		{{> choreListing}}
		{{/each}}
	</ol>
</template>

<template name="choreListing">
		<li><a href="/chores/{{_id}}">{{name}}</a> ({{room}})</li>
</template>


