<template name="deleteChoreModalHeader">
	<h4 class="modal-title text-center">Are you sure you want to delete this Chore?</h4>
</template>

<template name="deleteChoreModalBody">
	{{name}} ({{room}}) -- {{desc}}
	{{#if times_completed}}
	<p>It's been completed {{times_completed}} time(s){{#if period}} every ~{{secondsToHours period}} hour(s){{/if}}!</p>
	{{/if}}
</template>

<template name="deleteChoreModalFooter">
	<button id="cancel" class="btn">Cancel</button>
	<button id="delete" class="btn btn-danger">Delete</button>
</template>
