<template name="deleteRoomModalHeader">
	<h4 class="modal-title text-center">Are you sure you want to delete this room?</h4>
</template>

<template name="deleteRoomModalBody">
<p>It will affect {{numChores}} chore(s)!</p>
</template>

<template name="deleteRoomModalFooter">
<button id="cancel" class="btn">Cancel</button>
<button id="delete" class="btn btn-danger">Delete</button>
</template>
