<template name="editChoreModalHeader">
	<h4 class="modal-title text-center">Are you sure you want to edit this chore?</h4>
</template>

<template name="editChoreModalBody">
	<form id="edit-chore-form" role="form">
		<div class="form-group">
			<label for="edit-chore-name">Name:</label>
			<input id="edit-chore-name" name="choreName" type="text" placeholder="Enter a chore name" value="{{name}}">
			<label for="edit-chore-room">in Room:</label>
			<select id="edit-chore-room" name="choreRoom">
				<option value="other">other</option>
				{{#each rooms this}}
				<option {{selectedRoom}} value="{{name}}">{{name}}</option>
				{{/each}}

			</select>
		</div>

		<div class="form-group">
			<label for="edit-chore-desc">Description:</label>
			<textarea id="edit-chore-desc" name="choreDesc" cols="30">{{desc}}</textarea>
		</div>

		<button id="edit" class="btn btn-primary" value="submit">Edit</button>
	</form>
</template>
