<template name="resetChoresModalHeader">
	<h4 class="modal-title text-center">Are you sure you want to reset all chores?</h4>
</template>

<template name="resetChoresModalBody">
	Chores have been completed {{numCompleted}} times!
</template>

<template name="resetChoresModalFooter">
	<button id="cancel" class="btn">Cancel</button>
	<button id="reset" class="btn btn-danger">Reset</button>
</template>
