<template name="newRoomForm">
	<form id="new-room-form" role="form" class="form-inline">
		<div class="input-group">
			<label for="new-room">New Room:</label>
			<input id="new-room" name="newRoom" type="text" placeholder="Choose a room/space">
		</div>
		<button class="btn btn-primary" type="submit">Add to house</button>
	</form>
</template>
